ACTIVIO_DEMO_USER=activio
ACTIVIO_DEMO_PASSWORD=ustaw-mocne-wspoldzielone-haslo
ACTIVIO_TRUST_PROXY=false
ACTIVIO_WEBSITE_FEEDBACK_HOST=
ACTIVIO_WEBSITE_FEEDBACK_PROJECT_KEY=activio-club-concept
ACTIVIO_WEBSITE_FEEDBACK_VERSION=2026-08-05.1
ACTIVIO_WEBSITE_FEEDBACK_DEVELOPMENT=false
