ACTIVIO_DEMO_USER=activio
ACTIVIO_DEMO_PASSWORD=ustaw-mocne-wspoldzielone-haslo
ACTIVIO_TRUST_PROXY=false
ACTIVIO_WEBSITE_FEEDBACK_HOST=https://system3.booklet.pl
ACTIVIO_WEBSITE_FEEDBACK_PROJECT_KEY=activio-storefornt
ACTIVIO_WEBSITE_FEEDBACK_VERSION=2026-08-06.3
ACTIVIO_WEBSITE_FEEDBACK_DEVELOPMENT=false
